.wp-client-reports-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.wp-client-reports-stats-screen {
    margin:10px 20px 10px 0px;
}
.wp-client-reports-stats-screen h1 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}
.wp-client-reports-stats-screen .button .dashicons {
    position: relative;
    top:3px;
}
.wp-client-reports-stats-screen h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top:0px;
}
.wp-client-reports-postbox {
    margin:10px 0px;
}
.wp-client-reports-postbox .hndle {
    cursor:default !important;
}
.wp-client-reports-postbox.loading .inside {
    background:url('/wp-admin/images/spinner-2x.gif') center center no-repeat;
    background-size:20px 20px;
}
.wp-client-reports-postbox.loading .main {
    opacity:0;
}
.wp-client-reports-big-numbers {
    text-align:center;
}
.wp-client-reports-big-numbers {
    display:flex;
    align-items: top;
    justify-content: center;
}
.wp-client-reports-postbox .wp-client-reports-big-number {
    width:25%;
    padding:5px 30px;
    margin:10px 0px;
    border-right:solid 1px #eee;
}
.wp-client-reports-big-numbers.wp-client-reports-last30-widget .wp-client-reports-big-number {
    width:33.333%;

}
.wp-client-reports-big-numbers .wp-client-reports-big-number:last-child {
    border-right:0px;
}
.wp-client-reports-postbox .wp-client-reports-big-number h2 {
    font-size:80px;
    line-height: 1em;
    margin:0px 0px 5px;
    padding:0px;
    font-weight: bold;
    color:#007cba;
}
.wp-client-reports-big-numbers.wp-client-reports-last30-widget .wp-client-reports-big-number h2 {
    font-size:40px;
}
.wp-client-reports-postbox .wp-client-reports-big-number h3 {
    text-transform: uppercase;
    color:#888;
    font-size:20px;
    line-height:1.1em;
    margin:0px;
    font-weight: 300;
}
.wp-client-reports-big-numbers.wp-client-reports-last30-widget .wp-client-reports-big-number h3 {
    font-size:14px;
    text-transform: uppercase;
}
.wp-client-reports-list {
    list-style: none;
    margin:0px;
    padding:0px;
}
.wp-client-reports-list li {
    background: #fafafa;
    border: 1px solid #eee;
    margin:0px 0px 5px;
    padding:12px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.wp-client-reports-list li.wp-client-reports-empty {
    color: #999;
}
.wp-client-reports-list li strong {
    display:block;
    width:40%;
}
.wp-client-reports-list li .wp-client-reports-from-to {
    display:block;
    width:20%;
    text-align:center;
}
.wp-client-reports-list li .wp-client-reports-date {
    display:block;
    width:40%;
    text-align:right;
}
.wp-client-reports-list li .dashicons-arrow-right-alt {
    margin:0px 10px;
    color: #007cba;
}
.wp-client-reports-date-chooser-area {
    position: relative;
}
#wp-client-reports-date-chooser {
	position: absolute;
	right:0px;
	top:28px;
	width:600px;
	border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
	z-index: 100;
}
#wp-client-reports-date-chooser .date-chooser-presets {
	padding:20px;
	float:left;
	width:20%;
	box-sizing: border-box;
}
#wp-client-reports-date-chooser .date-chooser-presets ul {
	margin:0px;
}
#wp-client-reports-date-chooser #date-range {
	float:left;
	width:80%;
	padding:20px 0px 45px 0px;
    box-sizing: border-box;
    position: relative;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker {
    padding:0px;
    border:0px;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-icon {
    display: block;
    width:16px;
    height:16px;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background:#000;
    border-radius: 50%;
    position: relative;
    border:solid 1px #2271b1;
    background: #f6f7f7;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
    border:0px;
    background:transparent;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover .ui-icon,
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover .ui-icon {
    background: #f0f0f1;
    border-color: #0a4b78;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-header .ui-icon:before {
    content:"";
    display:block;
    width: 0;
    height: 0;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-prev {
    position: absolute;
    top: 4px;
    bottom:auto;
    left: 4px;
    border:0px;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-prev .ui-icon:before {
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #2271b1 transparent transparent;
    position: absolute;
    top: 4px;
    left: 4px;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-prev:hover .ui-icon:before,
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-prev:focus .ui-icon:before {
    border-color: transparent #0a4b78 transparent transparent;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    bottom:auto;
    right: 4px;
    border:0px;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-next .ui-icon:before {
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent #2271b1;
    position: absolute;
    top: 4px;
    left: 6px;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-next:hover .ui-icon:before,
#wp-client-reports-date-chooser #date-range .ui-datepicker .ui-datepicker-next:focus .ui-icon:before {
    border-color: transparent transparent transparent #0a4b78;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-row-break {
    clear: none;
    width: auto;
    display:none;
}
#wp-client-reports-date-chooser #date-range .ui-widget-header,
#wp-client-reports-date-chooser #date-range .ui-state-default {
    border: 0px;
    font-weight: normal;
    background-color: transparent;
    background-image: none;
}
#wp-client-reports-date-chooser #date-range .ui-widget-header {
    padding-bottom:4px;
    position: relative;
}
#wp-client-reports-date-chooser #date-range .ui-state-default {
    text-align:center;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-group {
	float:left;
	width:50%;
	text-align: center;
	padding-right:20px;
	box-sizing: border-box;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar {
	width:100%;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar td .ui-state-default {
	width:100%;
	border-radius: 0px;
	padding:2px;
	display: block;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar td a.ui-state-default {
	color:#444;
	text-decoration: none;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar td a.ui-state-default:hover {
	background-color:#ddd;
	text-decoration: none;
}
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar td.ui-state-disabled span.ui-state-default {
	color:#999;
}
#wp-client-reports-date-chooser .date-chooser-footer {
	clear:left;
	border-top:solid 1px #e5e5e5;
	text-align: right;
	padding:20px;
}
#wp-client-reports-date-chooser .date-chooser-footer .wp-client-reports-dates {
    display:inline-block;
    margin-right:20px;
    line-height:30px;
}
#wp-client-reports-date-chooser .ui-datepicker-title {
	text-align: center;
	font-size:16px;
	font-weight: bold;
}
#wp-client-reports-date-chooser .ui-datepicker-prev {
    position: absolute;
    bottom:20px;
    left:4px;
    cursor: pointer;
    text-decoration: underline;
}
#wp-client-reports-date-chooser .ui-datepicker-next {
    position: absolute;
    bottom:20px;
    right:20px;
    cursor: pointer;
    text-decoration: underline;
}
#wp-client-reports-date-chooser .ui-datepicker-prev.ui-state-disabled, 
#wp-client-reports-date-chooser .ui-datepicker-next.ui-state-disabled {
    cursor: default;
    color:#ccc;
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
/* .wp-client-reports-date-chooser-button {
	-webkit-appearance: none;
	background:#FFF;
	border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding:4px 15px;
    border-radius: 3px;
} */
#wp-client-reports-date-chooser #date-range .ui-datepicker-calendar td.dp-highlight a.ui-state-default {
    background: #007cba;
    color:#FFF;
    border-radius: 0px;
}

.dashboard_page_wp_client_reports #TB_window {
    height: 405px !important;
    width:630px !important;
}
.dashboard_page_wp_client_reports #TB_ajaxContent {
    height: 355px !important;
    width:600px !important;
}
.dashboard_page_wp_client_reports #TB_ajaxContent p.submit {
    margin-bottom:0px;
    padding-bottom:0px;
}

#send-report-spinner {
    width:20px;
    height:20px;
    margin-left: 10px;
    /* margin-top: 5px; */
    position: relative;
    top: 5px;
}

#report-email,
#report-title {
    width: 100%;
}

#report-intro {
    width: 100%;
    height:100px;
}

.wp-client-report-section {
    width:100%;
    margin-top:14px;
    margin-left:-12px;
    margin-right:12px;
    padding:12px 12px 0px 12px;
}

.wp-client-report-border-top {
    border-top: 1px solid #ccd0d4;
}

.wp-client-reports-settings-postbox .inside {
    margin:0px;
    padding:0px;
}
.wp-client-reports-settings-postbox .inside h2 {
    display:none;
}

.wp-client-reports-settings-postbox .form-table {
    display:block;
    margin:0px;
    width:100%;
}
.wp-client-reports-settings-postbox .form-table tbody {
    display:block;
    width:100%;
}
.wp-client-reports-settings-postbox .form-table tr {
    display:block;
    width:100%;
}
.wp-client-reports-settings-postbox .form-table tr:first-child th,
.wp-client-reports-settings-postbox .form-table tr:first-child td {
    border-top:0px;
}
.wp-client-reports-settings-postbox .form-table th {
    display:block;
    padding: 15px 12px 4px;
    border-top: #ccd0d4 solid 1px;
    width:auto;
}
.wp-client-reports-settings-postbox .form-table td {
    display:block;
    padding: 4px 12px 15px;
    margin:0px;
    width:auto;
}
.wp-client-reports-settings-postbox .form-table .regular-text,
.wp-client-reports-settings-postbox .form-table input.large-text, 
.wp-client-reports-settings-postbox .form-table textarea.large-text {
    width:100%;
}

.wp-client-reports-success {
    background:#46b450;
    color:#FFF;
    border:0px;
}
.wp-client-reports-error {
    background:#dc3232;
    color:#FFF;
    border:0px;
}

#wp-client-reports-options #publishing-action p.submit {
    margin:0px;
    padding:0px;
}
#wp-client-reports-options #major-publishing-actions {
    border-top:0px;
}
/* The switch - the box around the slider */
.wp-client-reports-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.wp-client-reports-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.wp-client-reports-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.wp-client-reports-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .wp-client-reports-slider {
    background-color: #007cba;
}
input:focus + .wp-client-reports-slider {
    box-shadow: 0 0 1px #007cba;
}
input:checked + .wp-client-reports-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.wp-client-reports-pro-active-license {
    display:inline-block;
    background:#46b450;
    color:#FFF;
    height:30px;
    padding:0px 15px;
    border-radius:3px;
    line-height:30px;
}

.wp-client-reports-instructions {
    position: absolute;
    top: 21px;
    right: 20px;
    text-align: right;
    line-height: 1.6;
}

.wp-client-reports-button-link-destructive {
    display: inline-flex;
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: box-shadow .1s linear;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: none;
    outline: none;
    text-align: left;
    color: #cc1818;
    text-decoration: underline;
    transition-property: border,background,color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    height: auto;
}